@using RESTAPI_CORE.Modelos
@model Inscripciones
@{
    ViewData["Title"] = "Editar";
    Layout = "../View/Shared/_Layout.cshtml";
}

<div class="card">

</div>

<form asp action= Editar "/" method="post"></form>